.logo{
    text-align: center;
    padding-left: 1%;
    border-radius:10%;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.logo:hover{
    transform: translatey(-5px);
    border-radius: 50%;
}
h1{
    display: inline;
    font-size: 300%;
    padding:23%;
    padding-bottom: 10%;
    margin-bottom: 10%;

}
body 
{
    background-color: bisque;
}
header{
    background-color: rgb(122, 162, 153);
}
h2,h3{
    color: rgba(57, 17, 17, 0.963);
    text-align: center;
    text-decoration:underline;
    /*text-decoration: overline;*/
    font-size: 30px;
}
#box{
    background-color: rgba(57, 17, 17, 0.963);
    border-radius:  10%;
}
#box2{
    background-color: rgba(57, 17, 17, 0.963);
}
.mc{
    color: white;
}
.speech{ 
    text-align: center;
     font-weight: bolder;
     font-size: 20px;
     line-height: 30px;
     line-break:anywhere;
     
     
}
.video{ text-align: center;}
a{
    text-decoration: none;
}
h3,h2{
    height: 40px;
    width: 1;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(71, 12, 12);
}
.bb{ 
    text-decoration:underline;
    background-color:rgb(71, 12, 12) ; 
    line-height: 40px; 
    color: darkgoldenrod;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 2px;
    transition: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    border-radius: 2%;
}
.bb:hover{
    
}
.bb1{
   
    padding-LEFT: 0%;
    color: goldenrod;
    margin-right: 100px; 
    transition: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}
.bb1:hover{
    background-color:goldenrod;
    transform: translatey(-2px);
    color: darkred;
}

.bb2{
    padding: 3%;
    color: goldenrod;
    margin: 15px;
    border-radius:50% ;
    transition-timing-function:ease;
    transition-duration: 0.5s;
}
.bb2:hover{
    transform: translateY(-30px);
    border-bottom: 9px solid brown;
    background-color: rgb(211, 191, 156);
}
.bb11{
    display: inline;
    transition: all;
    transition-timing-function:ease;
    transition-duration: 0.5s;
}
.bb11:hover{

    transform: translateY(-30px);
}
#big{
    padding-left:2%;
    border-radius: 5% ;
}
.video{
    text-align: center;
}

.box4{
    display: inline;
    position:fixed;
    text-shadow:brown;    
    background-color:rgba(57, 17, 17, 0.963);
    border :2px solid black;
    top:300px;
    left:93%; 
    font-style: italic;
    transition-timing-function:ease;
    transition-duration: 0.7s;
}
.box4:hover {
    background-color: burlywood;
    font-size: 20px;
}
.box5:hover{
    background-color: burlywood;
    font-size: 20px;
    
}
.box5{
    position:fixed;
    text-shadow:brown;    
    background-color:rgba(57, 17, 17, 0.963);
    color: white;
    border :2px solid black;
    top: 275px;
    left:91.89%;   
    font-style: italic; 
    transition-timing-function:ease;
    transition-duration: 0.7s;
}
.found{
    height: 40px;
    text-align: center; 
    text-decoration: underline;
    color: goldenrod;
    background-color: rgba(57, 17, 17, 0.963);
    text-shadow: 2cm;
    font-size:30px;
}
.img{
    padding: 20px;
    text-align: center;
}
.name{
    text-align: center;
    font-size: large;
    text-decoration:underline;
}
.msg{
    margin-left: 390px;
    text-align:center;
    width: 500px;
    font-size:25PX;
}
.links{
    text-align: center;
    z-index: 9;
    position:relative;
}
.social{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right:20px;
    padding-left:0;
   text-decoration: none;
   color: #000;
   box-shadow: 0 5px 5px white;
   border-radius: 50%;
   background-color: white;
   transition-timing-function:ease;
    transition-duration: 1s;
    
}
.social:hover
{
    background-color: #000;
    height: 38px;
    width: 38px;
    transform:rotate(360deg);
}
.photo3
{
    padding-right: 10px;
    
}
.innerp{
    display: inline;
  
}
.innerpp{
    padding-left: 40px;
    margin: 10px;
    border-radius: 20%;
    transition-timing-function:ease;
    transition-duration: 1s;
}
.innerpp:hover{
        transform: translateY(-18px);
        height: 180px;
        width: 350px;
}
.foot{
    text-align: center;
}
.last{
    margin-left:20px ;
    padding-left: 20px;
}
.lastline{
    text-align: center;
}
